{% extends "base.html" %}

{% block content %}
<style>
	p{font-size:21px; line-height: 1.45em}
	
</style>

<div class="row">
<div class="col-md-2"></div>
<div class="col-md-8">
<br>
<h1> COMO FUNCIONA: </h1>
<br>
<p>Frequentemente, se discute a qualidade das escolas considerando-se as notas no ENEM, no IDEB ou outros índices de resultado. As próprias escolas estimulam tal procedimento, divulgando na mídia tais resultados. Porém, a qualidade da educação não pode ser avaliada tendo em vista apenas este indicador. Se o objetivo é avaliar o quanto uma determinada escola contribui para a proficiência do estudante no SAEB, Prova Brasil ou PISA, é preciso separar a contribuição da escola da contribuição do ambiente social em que o estudante foi criado.</p>
<p>O que as pesquisas indicam é que a condição socioeconômica do estudante interfere fortemente nas suas notas nesses exames padronizados, superando frequentemente a contribuição das escolas. Além da condição socioeconômica, há outros fatores indicados pela literatura que exercem forte influência na proficiência dos alunos tais como a infraestrutura escolar e a gestão da escola. </p>
<p>ESCOLA PRA VALER faz essa análise através dos dados disponibilizados pelo INEP. Através de três fatores: nível socioeconômico, infraestrutura e gestão escolar, todas as escolas serão categorizadas num perfil agregado.</p>
<br>
<p><b>Exemplo:</b> uma escola “A” do município de Betim de Minas Gerais terá seu perfil agregado de acordo com os 3 fatores como exemplo: NSE médio-baixo, infraestrutura básica e gestão complexa. Sua nota nota real no IDEB será comparada à nota média no IDEB de escolas com o perfil parecido com a dela, ou seja, escolas de NSE médio-baixo, infraestrutura básica e gestão complexa. Quanto maior a diferença entre essa nota média das escolas com o mesmo perfil dela e a nota real, mais eficaz e mais alto o Fator de Influência da Escola, o IFE, na nota dos seus alunos, apesar do contexto observado.</p>
<br>
</div>
<div class="col-md-2"></div>
</div>
{% endblock %}
