{% extends "base.html" %}

{% block content %}
<style>
	h1{align:"left";}
	p{font-size: 20px;}
</style>

<div class="row" align='center'>
     <div class="col-md-1"></div>
 		<div class="col-md-10">
 			<h1>CONTATO:</h1>
 			<h3> Entre em contato com os idealizadores do Projeto:</h3>
 			<p>Armando Antonnioni  <a href="mailto:antonnioni@gmail.com">antonnioni@gmail.com</a></p>
 			<p>Daniel Silva  <a href="mailto:danieln.silva2@gmail.com">danieln.silva2@gmail.com</a></p>
 			<p>Igor Debossan <a href="mailto:igor.debossan@gmail.com">igor.debossan@gmail.com</a>;</p>
 			<br>
 			<br>
 			<br>
 			<br>
 			<br>
 			<br>
 			<br>
 			<br>
 			<br>
 			<br>
 			<br>
 			</div>
      <div class="col-md-1"></div>	
</div>

{% endblock %}
